@model Example.Web.Features.Banner.TwoColumn.TwoColumnViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <img src="@Model.Image.Url" alt="@Model.Image.AltText" class="img-fluid" />
        </div>
        <div class="col">
            <h2>@Model.Title</h2>
            <small>@Model.Description</small>
            <div class="d-flex flex-row my-3">
                @foreach (var i in Model.Links)
                {
                    <a href="@(i.Href)" class="btn btn-primary me-2">@i.Label</a>
                }
            </div>
        </div>
    </div>
</div>
